<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
  </head>
  <body>
    <h1>About me</h1>
    <h3>My name is {{ name }}</h3>
    <p>I'm from {{ location.city }}, {{ location.country }}</p>
    {{#if location.region}}
      <span>I am from {{ location.region }}</span>
      {{else}}
      <span>I don't know where I'm from</span>
    {{/if}}
    <br/>
    {{#unless location.planet}}
      <span>I don't know which planet I'm from</span>
    {{/unless}}
    <br/>
    <span>I have some animals:</span>
    <ul>
      {{#each animals}}
        <li>{{ this }}</li>
      {{/each}}
    </ul>
    <br/>
    <span>I went to some schools</span>
    <ul>
      {{#each schools}}
        {{#if @first}}
          <li><strong>{{ @key }}: {{ this }}</strong></li>
        {{else}}
          <li>{{ @key }}: {{ this }}</li>
        {{/if}}
      {{/each}}
    </ul>
    {{#with location}}
      <span>I'm from {{city}}, {{country}}</span>
    {{/with}}
  </body>
</html>
